<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>@ViewBag.title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/customer/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/customer/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/customer/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/customer/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/customer/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/customer/css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">MyShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->



                @RenderBody()
     
 
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="~/customer/js/jquery-3.2.1.min.js"></script>
    <script src="~/customer/js/popper.min.js"></script>
    <script src="~/customer/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/customer/js/jquery.superslides.min.js"></script>
    <script src="~/customer/js/bootstrap-select.js"></script>
    <script src="~/customer/js/inewsticker.js"></script>
    <script src="~/customer/js/bootsnav.js."></script>
    <script src="~/customer/js/images-loded.min.js"></script>
    <script src="~/customer/js/isotope.min.js"></script>
    <script src="~/customer/js/owl.carousel.min.js"></script>
    <script src="~/customer/js/baguetteBox.min.js"></script>
    <script src="~/customer/js/form-validator.min.js"></script>
    <script src="~/customer/js/contact-form-script.js"></script>
    <script src="~/customer/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>